body
{
    margin: 0;
}
h1{
    margin: 0;
}
.intro
{
    color:red;
   text-align: center;
   padding: 20px;
   font-size:40px;
}
.container
{
    background-color: darkorange;
    display:flex;
    /* flex-direction:column; */
    /* flex-direction:row-reverse; */
    flex-direction:row;
    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    /* align-items:flex-start; */
    /* justify-content:center; */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
height:500px;
align-items: center;
justify-content:center;
flex-wrap: wrap;


}
.one,.two,.three{
    width: 200px;
    height:200px;
   
    background-color: cornflowerblue;
    text-align: center;
    /* flex:1; */
    border:solid 2px #fff;
    padding:5px;

   
}
/* .two{
    flex:2
} */
/* .three{
    flex: 1;
} */
/* .one{
    order: 3;
}
.two{
    order:2;
}
.three{
    order:1;
} */